/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
# define ______ &trans

/ {
    keymap {
        compatible = "zmk,keymap";

        colemak {
            bindings = <
&kp Q  &kp W  &kp L  &kp P      &kp B    &kp J    &kp L     &kp U      &kp Y    &kp SQT
&kp A  &kp S  &kp R  &kp T      &kp G    &kp M    &kp N     &kp E      &kp I    &kp O
&kp Z  &kp X  &kp C  &kp D      &kp V    &kp K    &kp H     &kp COMMA  &kp DOT  &kp COLON
              &mo 1  &kp SPACE  &kp RET  &kp RET  &kp BSPC  &trans
            >;
        };

        symbols {
            bindings = <
&kp SEMI   &kp AT    &kp POUND       &kp DQT   &kp UNDERSCORE  &kp MINUS    &kp N7  &kp N8  &kp N9  &kp FSLH
&kp LT     &kp LBKT  &kp LEFT_BRACE  &kp LPAR  &kp FSLH        &kp PLUS     &kp N4  &kp N5  &kp N6  &kp STAR
&kp LCTRL  &kp PIPE  &kp AMPS        &kp DLLR  &kp EXCL        &kp PERCENT  &kp N1  &kp N2  &kp N3  &kp EQUAL
                     &trans          &trans    &trans          &trans       &trans  &kp N0
            >;
        };
    };
};
