#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

#define BASE 0
#define SYMBOLS 1
#define NAVIGATION 2
#define ACCENTS 3
#define CIRC 4
#define AEROSPACE 5

#include "features/behaviors.dtsi"
#include "features/accents.dtsi"
#include "features/symbols.dtsi"

/ {

    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <SYMBOLS NAVIGATION>;
            then-layer = <AEROSPACE>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            bindings = <
&kp Q                   &kp W        &kp L            &kp P              &kp B      &kp J    &kp F                &kp U         &kp Y        &nd_sqt
&hml LCTRL A            &hml LALT S  &hml LSHFT R     &hml LCMD T        &kp G      &kp M    &hmr RCMD N          &hmr RSHFT E  &hmr RALT I  &hmr RCTRL O
&kp Z         &kp X        &kp C            &kp D              &kp V      &kp K    &kp H                &kp COMMA     &kp DOT      &mt SEMI COLON
                           &lt ACCENTS LG(C)  &lt SYMBOLS SPACE  &kp TAB    &kp RET  &lt NAVIGATION BSPC  &lt CIRC LG(V)
            >;

            display-name = "base";
            label = "base";
        };

        symbols {
            bindings = <
&nd_grave  &kp AT         &kp HASH       &nd_dqt        &kp UNDERSCORE    &kp MINUS  &kp N7  &kp N8  &kp N9  &mt BSLH FSLH
&mt GT LT  &mt RBKT LBKT  &mt RBRC LBRC  &mt RPAR LPAR  &nd_tilde         &kp PLUS   &kp N4  &kp N5  &kp N6  &kp STAR
&nd_caret  &kp PIPE       &kp AMPS       &kp DOLLAR     &mt EXCL QMARK    &kp PRCNT  &kp N1  &kp N2  &kp N3  &kp EQUAL
                          &trans         &trans         &trans            &trans     &trans  &kp N0
            >;

            display-name = "symbols";
            label = "symbols";
        };

        navigation {
            bindings = <
&bt BT_NXT      &kp C_VOL_DN  &kp C_VOL_UP  &kp C_MUTE  &trans    &none       &kp LG(LEFT)  &kp PAGE_UP  &kp PAGE_DOWN  &kp LG(RIGHT)
&bootloader     &trans        &trans        &kp ESC     &trans    &caps_word  &kp LEFT      &kp DOWN     &kp UP         &kp RIGHT
&studio_unlock  &trans        &trans        &trans      &trans    &trans      &trans        &trans       &trans         &trans
                              &trans        &trans      &trans    &trans      &trans        &trans
            >;

            display-name = "navigation";
            label = "navigation";
        };

        accents {
            bindings = <
&trans    &trans  &trans    &trans  &trans    &trans  &trans    &ac_ugrv     &trans  &trans
&ac_agrv  &trans  &trans    &trans  &trans    &trans  &ac_ntil  &ht_eacugrv  &trans  &trans
&trans    &trans  &ac_ccdi  &trans  &trans    &trans  &trans    &trans       &trans  &trans
                  &trans    &trans  &trans    &trans  &trans    &trans
            >;

            label = "Accents";
        };

        circ {
            bindings = <
&trans    &trans  &trans  &trans  &trans    &trans  &trans  &ac_ucir     &trans       &trans
&ac_acir  &trans  &trans  &trans  &trans    &trans  &trans  &ht_ecirtre  &kp K  &ac_ocir
&trans    &trans  &trans  &trans  &trans    &trans  &trans  &trans       &trans       &trans
                  &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "Circ";
        };

        aerospace {
            bindings = <
&trans  &kp LC(LA(R))  &kp LC(LA(L))  &kp LC(LS(P))  &trans    &kp LC(LA(LS(A)))  &kp LC(LA(LS(N)))  &kp LC(LA(LS(E)))  &kp LC(LA(LS(I)))  &kp LC(LA(LS(O)))
&trans  &kp LC(LS(S))  &kp LALT  &kp LC(LS(B))  &trans   &kp LC(LA(LS(T)))  &kp LC(LS(N))  &kp LC(LS(E))  &kp LC(LS(I))  &kp LC(LS(O))
&trans    &trans  &trans  &kp LC(LS(D))  &trans    &kp LC(LA(LS(F)))  &kp LC(LA(N))  &kp LC(LA(E))  &kp LC(LA(I))  &kp LC(LA(O))
                  &trans  &trans  &trans    &trans  &trans  &trans
            >;

            label = "Aerospace";
        };
    };
};
